<!DOCTYPE html>
<html>
<head>
	<title>HomePage</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css"/>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Welcome to CRUD cook</h1>
    <a href="newrecipe" class="newRecipe">Add a dish</a>

    <img src="/images/knifebackground.jpeg" class="banner mx-auto">

    <!-- <a href="newrecipe"><button type="button" class="btn btn-light float-right">Add a dish!</button></a> -->

    <div class="intro">
        <div id="welcome">
            <img src="/images/chef.jpeg" class="welcomeImg"> 
            <p class="welcomeP">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam justo velit, 
                posuere quis commodo at, ultrices id sem. In imperdiet accumsan ante, at rutrum 
                nisi egestas at. Donec vel finibus ante. Nam scelerisque quam in purus scelerisque 
                lacinia. Maecenas rhoncus massa a sem sollicitudin vulputate ac in lacus. 
                Vestibulum non.
            </p>
           
        </div>
        <div id="new">
            <img src="/images/veggies.jpeg" class="welcomeImg"> 
            <p class="welcomeP">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam justo velit, 
                posuere quis commodo at, ultrices id sem. In imperdiet accumsan ante, at rutrum 
                nisi egestas at. Donec vel finibus ante. Nam scelerisque quam in purus scelerisque 
                lacinia. Maecenas rhoncus massa a sem sollicitudin vulputate ac in lacus. 
                Vestibulum non.
            </p>
        </div>
    </div>


    <div class="recipes">
        <div class="recipeImg">
            <img src="/images/food.jpeg" class="foodImg">
        </div>

        <div class="allRecipes">
            <p class="allRecipesP">Check out some recent dishes!</p>

            @for (int i = @ViewBag.AllRecipes.Count-1; i >= 0; i--)
            {
                <h6> <a href="@ViewBag.AllRecipes[i].id">@ViewBag.AllRecipes[i].Name</a> by @ViewBag.AllRecipes[i].Chef</h6>
                <br>
            }
        </div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>